/* style.css */

/* Set the canvas size and center it */
#gameCanvas {
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
  background-color: #222222; /* Replace this with your desired darker color */
  padding: 10px; /* Add padding to create separation between canvas and container */
}

/* Style the snake */
.snake {
  fill: green;
  stroke: darkgreen;
}

/* Style the food */
.food {
  fill: red;
  stroke: darkred;
}

/* Style the game over message */
#gameOverMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: red;
  display: none;
}

/* Add a class for the snake head to apply a different style (optional) */
.snake-head {
  fill: #228b22; /* Dark green for the snake head */
  stroke: #006400; /* Darker green for the snake head border */
}

/* Add a class for the food icon */
.food-icon {
  width: 20px;
  height: 20px;
  fill: red;
}
h1{
  
  text-align: center;

}